h2 {
  color: rgba(5, 22, 54, 0.836);
  margin-top: 145px;
  margin-inline: -93px;
}

h1 {
  color: rgba(8, 70, 112, 0.432);
}
h3 {
  color: rgb(2, 10, 32);
  font-size: 20px;
  margin-inline-end: -5px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  height: 210px;
  max-width: 30%;
  margin-left: 50px;
}

body {
  background-image: url("image.jpg");
}

td {
  font-weight: 400;
}

table {
  border-spacing: 12px;
}
