h1 {
  margin: auto;
  width: 520px;
  padding: 1em;
  border: 1px solid rgb;
  border-radius: 2em;
  color: rgba(255, 0, 0, 0.616);
}

form {
  margin: auto;
  width: 520px;
  padding: 1em;
  border: 1px solid rgb;
  border-radius: 2em;
}

label {
  width: 100px;
  display: inline-block;
  color: black;
}
